@tailwind base;
@tailwind components;
@tailwind utilities;

.default {
  font-family: theme("fontFamily.robotomono");
  width: 247px;
  font-weight: normal;
  color: theme("colors.grey.200");
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 16px;
  padding-right: 14px;
  height:116px;
  border-right: 2px solid theme("colors.grey.200");

}
.logo-text {
  letter-spacing: -.333rem;
  line-height: 48px;
}
