.header {
    background-color: theme("colors.grey.500");
    box-shadow: 0 15px 15px theme("colors.grey.500");
    z-index: 1000;
}

.header__top {
    background-color: #282a33;
    border-bottom: 1px solid black;
    height: 24px;
}
.search--input-container {
    width: 100%;
}