@tailwind base;
@tailwind components;
@tailwind utilities;

.full-opacity {
  opacity: 1;
}
.zero-opacity {
  opacity: 0;
}
.article__tile {
  opacity: 0;
  animation: fadeUp 0.5s forwards;
}
.article__title {
  font-size: 36px;
  font-family: arimo;
  text-transform: uppercase;
  font-weight: bold;
  &:hover {
    cursor: pointer;
  }
}

.article__description {
  margin-top: .75rem;
  font-size: 16px;
  font-family: theme("fontFamily.arimo");
  &:hover {
    cursor: pointer;
  }
}

.article__date {
  margin-top: 1rem;
  font-size: 14px;
  font-family: theme("fontFamily.arimo");
}