.text-input input {
  width: fit-content;
  font: theme("fontFamily.robotomono");
  font-size: 18px;
  font-weight: 500;
  color: theme("colors.grey.400");
  border: 1px solid theme("colors.grey.400");
  background-color: theme("colors.grey.500");
  height: 45px;
  padding: 6px 12px;
  ::placeholder {
    color: theme("colors.grey.400");
  }
}
