.search__input input {
    background-image: url('../../assets/search.svg');
    background-repeat: no-repeat;
    background-position: 98%;
    background-size: 32px;
    display: flex;
    width: 100%;
}

.search__input {
    width: 100%;
}